<div class="grid-container">
  
  <mat-grid-list cols="4" rowHeight="240px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h2>
              {{card.title | titlecase}}
            </h2>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>More</button>
              <button mat-menu-item>Today</button>
              <button mat-menu-item>Yesterday</button>
              
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <h1 [style.color]="card.color">
           {{card.heading }}<br> <span>{{card.task}}</span>
          </h1>
          <h3> {{card.titleDescription}} </h3>
        </mat-card-content>
      </mat-card>

      <mat-card class="dashboard-card" *ngIf="card.title=='card 5'">
        <mat-card-content class="dashboard-card-content" >
        <app-five></app-five>
        </mat-card-content>
      </mat-card>

      <mat-card class="dashboard-card" *ngIf="card.title=='card 7'">
        <mat-card-content class="dashboard-card-content cardSeven" >
        <!-- <app-five></app-five> -->
        <app-schedule></app-schedule>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>

  </mat-grid-list>
</div>
