<mat-card >

  <div class="left">
    <div mat-card-avatar [ngStyle]="{backgroundImage: 'url(../../assets/images.png)', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center', 'height': '100px', 'width': '100px'}"></div>
    <div class="title">
     <span>Instructors</span>
      <p>Title description</p>
    </div>
  </div>

  <div class="right">
    <button mat-raised-button color="primary">
      <mat-icon>message</mat-icon>
      messages</button>
    <button mat-raised-button color="primary">
      <mat-icon>settings</mat-icon>
      setting</button>
  </div>

</mat-card>